*{
    margin: 0px;
    padding: 0px;
}

h1{
    margin: 0;
    font-size: 70px;
    color: white;
    padding: 25px;
    padding-left: 10px;
    display: inline;
}

header{
    background-color: #1B18B8;
    width: 1920px; 
    height: 90px;
}

.Line{
    padding-left: 450px;
    margin-top: -45px;
}

.HeadButton1{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 75px;
    font-size: 20px;
    margin: 10px;
}

.HeadButton2{
    color: #1B18B8;
    background-color: white;
    padding: 15px;
    border: white 2px;
    border-radius: 75px;
    margin-left: 600px;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;

}


